<%- include("partials/header") %>
<h1>Jobs</h1>
<ul>
    <% if (jobs && jobs.length > 0) { %>
        <% jobs.forEach(job => { %>
            <li>
                <h2><%= job.title || "No title provided" %></h2>
                <p><%= job.description || "No description available" %></p>
                <p><strong>Company:</strong> <%= job.company?.display_name || "No company name" %></p>
                <p><strong>Location:</strong> <%= job.location?.display_name || "No location provided" %></p>
                <a href="<%= job.redirect_url || "#" %> "target="_blank">Apply</a>

                <% if (job.isPosted) { %>
                    <a href="/edit-job/<%= job.id %>"class="edit-btn">Edit</a>
                    <form action="/delete-job/<%= job.id %>" method="POST" class="delete-form" onsubmit="return confirm('Are you sure you want to delete this job?')">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    <% } else { %>
        <li>No jobs found</li>
    <% } %>
</ul>
<%- include("partials/footer") %>